@{
    ViewBag.Title = "About";
}
<br />
<p><h3 style="font-size: 20px;color:black"><strong>This project was created by Denys Aleksyeyev.</strong></h3></p>
<p><h3 style="font-size: 20px;color:black"><strong>If you want to contact me, use the following email address:  <a href="mailto:denysalexieiev@gmail.com">denysalexieiev@gmail.com</a></strong></h3></p>
<p><h3 style="font-size: 20px;color:black"><strong>I hope "File Ocean" makes pleasure for anyone who uses it.</strong></h3></p>