
@model PagedList.IPagedList<Epam_FinalProject_FileManager_BLL.DTO.FileEntityDTO>
@using PagedList.Mvc

@foreach (var file in Model)
{
    Html.RenderPartial("_FileSummaryPartial", file);
}
<tr>
    <td colspan="4">
        @Html.PagedListPager(Model, pageN => Url.Action("UserFiles", "MyStorage", new
   {
       sortOrder = ViewBag.sortOrder,
       searchString = ViewBag.searchString,
       page = pageN
   }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
               new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "files_table_body" }
            ))
    </td>
</tr>
